# Ignore Python compiled files
*.pyc
__pycache__/

Papers
Images
venv
Model1.keras
output
output_new
output_rgb
output_sketch
.vscode

output_Model_lab
output_Model_lab_sketches
output_Model_RGB
output_Model_RGB_sketch
output_Ref_Model_RGB
output_Ref_Model_RGB_sketch
output_Model_Inception